*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;  
}
.center ul{
    list-style: none;
    position: relative;
    display: inline-block;
}